body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px; /* Container sedikit lebih lebar */
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #e74c3c; /* Warna merah */
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em; /* Lebih besar */
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.tomat-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px; /* Memberi jarak antara gambar dan konten */
}

.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Lebih responsif */
  gap: 30px;
}

.item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left; /* Teks rata kiri */
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.item:hover {
  transform: translateY(-5px); /* Efek hover lebih halus */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5; /* Background sedikit lebih terang saat hover */
}

.item h2 {
  color: #f39c12; /* Warna kuning */
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em; /* Sedikit lebih kecil */
  margin-bottom: 10px;
}

.item p {
  line-height: 1.6;
  color: #34495e;
}
